<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head th:replace="disenoBase::site-head"></head>
<body>
  <header th:replace="disenoBase::site-header"></header>
  <main class="container p-0" role="main">
    <div class="container" id="divCasoForm">
      <article>
        <header>
          <h4 class="text-primary">Listado Evaluaciones</h4>
          <div role="alert">
            <div class="alert-dismissible fade show alert alert-success" th:if="${flash != null}">
              <small th:text="${flash}"></small>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </header>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Nota</th>
              <th>Comentarios</th>
              <th>Estudiante</th>
              <th>Curso</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="evaluacion : ${listaEvaluaciones}">
				              <td th:text="${evaluacion.nota}"></td>
				              <td th:text="${evaluacion.comentarios}"></td>
				              <td th:text="${evaluacion.estudiante.nombres} + ' ' + ${evaluacion.estudiante.apellidos}"></td>
				              <td th:text="${evaluacion.curso.nombre}"></td>
				              <td>
				                <a class="btn btn-outline-warning btn-sm" th:href="@{/evaluacion/editar/}+${evaluacion.id}">
				                  Editar
				                </a>
				              </td>
				              <td>
				                <a class="btn btn-outline-danger btn-sm" th:href="@{/evaluacion/eliminar/}+${evaluacion.id}">
				                  Eliminar
				                </a>
				              </td>
				            </tr>
				          </tbody>
				          <tfoot>
				            <tr>
				              <td colspan="6">
				                <a class="btn btn-outline-success" th:href="@{/evaluacion/nuevo}" role="button">Agregar Evaluación</a>
				                <a class="btn btn-outline-secondary" th:href="@{/index}" role="button">Regresar</a>
				              </td>
				            </tr>
				          </tfoot>
				        </table>
				      </article>
				    </div>
				  </main>
				  <footer th:replace="disenoBase::site-footer"></footer>
				  <div th:replace="disenoBase::site-bootstrap"></div>
				</body>
				</html>


